/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "Red Hat Text", "Overpass", helvetica, sans-serif;

  --ifm-color-primary-lightest: #e7f1fa;
  --ifm-color-primary-lighter: #bee1f4;
  --ifm-color-primary-light: #73bcf7;
  --ifm-color-primary: #2b9af3;
  --ifm-color-primary-dark: #0066cc;
  --ifm-color-primary-darker: #004080;
  --ifm-color-primary-darkest: #002952;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Global */
.redoc-api-wrapper {
  margin: 0;
  padding: 0 !important;
  padding-top: 0 !important;
  max-width: 97%;
}

.redoc-api-wrapper-third-child {
  padding: 0 !important;
}
