name: Docs

on:
  push:
    branches:
      - master

jobs:
  gh-pages:
    name: "Github pages"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Build
        run: |
          yarn install
          # yarn crowdin:sync
          yarn build
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: build
          external_repository: project-openubl/project-openubl.github.io
          publish_branch: master
