{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>Proyectos</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5>XML Builder</h5>
        <p>Crea tus facturas, boletas, notas de crédito, notas de débito, fácilmente usando nuestro servidor xml-builder</p>
        <p>
          <img src="https://raw.githubusercontent.com/project-openubl/xml-builder/master/docs/images/curl.gif" alt="Factura electronica" width="1200"/>
        </p>
      </div>
    </div>
  </div>
</section>
